.eventCard {
  width: 100%;
  height: 100%;
  background: lightslategray;
  text-align: center;
  padding: 2%;
}

.eventLink, .eventLink:visited {
  width: 31%;
  height: 300px;
  color: black;
}

.leagueLogo {
  height: 45%;
  max-width: 70%;
}