.eventCard {
  width: 31%;
  height: 300px;
  background: lightslategray;
  text-align: center;
  padding: 2%;
  position: relative;
}

.eventLink, .eventLink:visited {
  height: 100%;
  color: black;
}

.leagueLogo {
  height: 35%;
  max-width: 55%;
}

.card-fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}