@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: auto;
  margin: 0;
  background-color: rgb(42, 42, 42);
  color: white;
}

a {
  display: block;
  text-decoration: none;
}

a:hover, button:hover, select:hover {
  cursor: pointer;
}