* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: auto;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
